[Desktop Entry]
Type=Application
Name=Command Palette Background Service
Exec=@BIN_HOME@/command-palette --background
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
